.results-table {
    font-family: "Inter Semi Bold", Arial;
    font-size: 18px;
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 720px;
}

table, tr, td {
    border: none;
    padding: 5px;
}

.results-table > tr {
    height: 35px;
}

.results-place {
    width: 41px;
    background: var(--red);
    text-align: center;
}

.results-driver {
    width: 311px;
    background: var(--dark-gray);
    text-align: left;
    padding-left: 10px;
}

.results-class-header {
    width: 102px;
    background: white;
    color: black;
    text-align: center;
}

.results-manufacturer {
    width: 40px;
    background: white;
    text-align: center;
    padding: 0;
}

.results-class {
    width: 62px;
    background: black;
    text-align: center;
}

.results-total {
    width: 126px;
    text-align: center;
    background: var(--dark-gray);
}

.results-gap {
    width: 126px;
    background: white;
    text-align: center;
    color: black;
}

.results-logo {
    width: 30px;
}

.GT3 {
    border-right: 5px solid var(--gt3);
}

.GT4 {
    border-right: 5px solid var(--gt4);
}

.lap-times-container {
    background: var(--dark-gray);
    padding: 0;
}

.lap-times-table {
    background: var(--dark-gray);
    width: 700px;
    border-collapse: separate;
    border-spacing: 5px;
}

.lap-time-box {
    background: var(--black);
    color: var(--light-gray);
    padding: 5px;
    width: 80px;
    height: 26px;
    text-align: center;
}
