@font-face {
  font-family: "Inter Semi Bold";
  src: url('../fonts/inter-semibold.woff2');
}

:root {
    --red: #F80000;
    --black: #1C1C1C;
    --dark-gray: #292929;
    --light-gray: #BABABA;
    --gt3: #FF5C00;
    --gt4: #000AFF;
}

body {
    background-color: var(--black);
    color: white;
    font-family: "Inter Semi Bold";
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4A4A4A;
}

/* Rest of pages */

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

h1, h2, h3, h4 {
    margin: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

input[type='number'] {
    background-color: #333;
    color: white;
    border: none;
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 55px;
    text-align: center;
    border-radius: 5px 5px;
    font-size: 13px;
}

/* Turn off input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



input[type=checkbox] {
    accent-color: #3A3;
}

img {
    width: 800px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
