{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/modify_data_table.js' ) }}" defer></script>
{% endblock %}
{% block content %}
<h1>Lap Times</h1>
<label for="hide_empty" class="unselectable">
    <input type="checkbox" id="hide_empty" name="hide_empty">Hide empty</input>
</label>

<table>
<tr>
    <td>Track</td>
    <td>Alien Time</td>
    <td>My Time</td>
    <td>Percentage</td>
    <td>Fuel usage</td>
    <td>Car</td>
    <td>Stars</td>
</tr>
{% for row in data %}
<tr {% if not row.is_set %}class="empty"{% endif %}>
    <td>{{ row.track }}</td>
    <td>{{ row.ideal_time_txt }}</td>
    <td>{{ row.my_time_txt }}</td>
    <td>{{ row.percentage }}{% if row.percentage != '-' %}%{% endif %}</td>
    <td>{{ row.fuel_usage }}{% if row.fuel_usage != '-' %}l{% endif %}</td>
    <td>{{ row.car }}</td>
    <td>{{ row.stars }}</td>
</tr>
{% endfor %}
</table>

<h2>Best tracks plot</h2>
<img src="{{ url_for('static', filename='images/percentage.png' ) }}">
{% endblock %}
