{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/countdown.js' ) }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/series_card.css') }}">
{% endblock %}
{% block content %}
<h1>Racing Calendar</h1>
{% for series in data %}
{%  if series.active %}
<div class="series-container" onclick="window.location.href='{{ series.website }}';">
    <div class="series-title">{{ series.name }}</div>
    <hr>
    <div class="series-description">
        {{ series.description }}<br>{{ series.start_date }} - {{ series.end_date }}
    </div>
    <div class="series-duration">
        <div class="series-duration-label">Race</div>
        <div class="series-duration-value l">{{ series.race_time }}</div>
        <div class="series-duration-value r">{{ series.quali_time }}</div>
        <div class="series-duration-label">Quali</div>
    </div>
    {% if series.current_week is not none %}
    <div class="series-info">
        <div class="series-info-label">{{ series.current_week.track }}</div>
        <div class="series-info-value">Week {{ series.current_week.number}}</div>
    </div>
    <div class="series-info">
        <div class="series-info-label">Upcoming race in</div>
        <div class="series-info-value race_time">{{ series.current_week.upcoming_race_in }}</div>
    </div>
    {% else %}
    <div class="series-info">
        <div class="series-info-label">Mid-Season Pause</div>
        <div class="series-info-value">{{ series.mid_season_brake_remaining() }}</div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock %}
